<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Prime Dictation</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.486981472809-covqq2v90n3nqftfnitpunaak2p03gun</string>
				<string>msauth.com.BryceAlbertazzi.PrimeDictation</string>
				<string>db-ddjsydnk1llkb8j</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DROPBOX_APP_KEY</key>
	<string>ddjsydnk1llkb8j</string>
	<key>EMAIL_SENDER_AWS_LAMBDA_FUNCTION</key>
	<string>https://hfhjmo2tb2ahndf7npbc4lo7da0gcoup.lambda-url.us-west-2.on.aws</string>
	<key>GC_BUCKET_URL</key>
	<string>prime-dictation-audio-files</string>
	<key>GIDClientID</key>
	<string>486981472809-covqq2v90n3nqftfnitpunaak2p03gun.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv3</string>
		<string>msauthv2</string>
		<string>msauth</string>
		<string>dbapi-8-emm</string>
		<string>dbapi-2</string>
	</array>
	<key>LSBundleContainsCoreMLmlmodelc</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MS_CLIENT_APPLICATION_ID</key>
	<string>a4eee3b8-ebed-40e2-867a-6c613d932803</string>
	<key>MS_TENANT_DIRECTORY_ID</key>
	<string>23a30420-283a-42e3-8786-57c7561b919e</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The app needs access to the microphone to record and play audio</string>
	<key>PRESIGNED_UPLOAD_AWS_LAMBDA_FUNCTION</key>
	<string>https://r7wdxwtohycq5xp4f3a7gvhvxa0hnxya.lambda-url.us-west-2.on.aws</string>
	<key>SIGNED_TXT_URL_GC_FUNCTION</key>
	<string>https://txtify-pd-sign-486981472809.us-central1.run.app</string>
	<key>SIGNED_URL_GC_FUNCTION</key>
	<string>https://get-signed-url-for-gc-bucket-486981472809.us-central1.run.app</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
