<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Prime Dictation</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.BryceAlbertazzi.PrimeDictation</string>
				<string>db-z4j0jn23hkj68bs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DROPBOX_APP_KEY</key>
	<string>z4j0jn23hkj68bs</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv3</string>
		<string>msauthv2</string>
		<string>msauth</string>
		<string>dbapi-8-emm</string>
		<string>dbapi-2</string>
	</array>
	<key>LSBundleContainsCoreMLmlmodelc</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MS_CLIENT_APPLICATION_ID</key>
	<string>a4eee3b8-ebed-40e2-867a-6c613d932803</string>
	<key>MS_TENANT_DIRECTORY_ID</key>
	<string>23a30420-283a-42e3-8786-57c7561b919e</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The app needs access to the microphone to record and play audio</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
